.bs-docs-sidenav {
  top: 0;
  width: 218px;
  margin-top: 30px;
  margin-right: 0;
}

body {
  margin-left: 20px;
  margin-top: 200px;
  /* padding: 0;*/
}

li {
  list-style-type: none;
  margin-left:-20px;
}

/*
#register-moniker {
  width: 100px;
}*/

li.sentmessage, li.receivedmessage {
  padding-top: 1em;
  padding-bottom: 1em;
}

#display-account-settings > div, a {
  padding-top: 1em;
  padding-bottom: 1em;
}
