html, body, .intro, .intro-header {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
}

li {
  list-style-type: none;
}

li.sentmessage, li.receivedmessage {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Buttons */
.btn:focus, a:focus {
  outline: 0;
}

.btn-main {
  background: #93A4C7;
  border: 2px solid #93A4C7;
  color: #fff;
  padding: 8px 20px;
  letter-spacing: 0.8px;
  color: #fff!important;
  outline: 0!important;
  margin-left: 15px;
  margin-right: 15px;
}

.btn-main:hover {
  background: #8291B0;
  border: 2px solid #8291B0;
  color: #fff;
}

.nav .btn-main {
  background: transparent;
  color: #93A4C7!important;
}

.nav .btn-main:hover {
  background: #93A4C7;
  border: 2px solid #93A4C7;
  color: #fff!important;
}

.intro-message .btn-main {
  font-size: 20px;
  background: #7381AB;
  border: 2px solid #7381AB;
}

.intro-message .btn-main:hover {
  background: #6D7AA2;
  border: 2px solid #6D7AA2;
}

/*#send-message-nav, #get-started-btn {
  color: #fff;
  outline: 0;
  margin-left: 15px;
  margin-right: 15px;
}*/

/* Main Page */
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #FFF;
  background: url(../img/main-bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  font-size: 4em;
}

.intro-message > h2 {
  margin: 0;
  font-size: 3em;
}

.intro-message > h3 {
  padding-top: 20px;
}

/* Sign In Page */
#sign-in-page {
  padding-top: 100px;
}

#sign-in-page h2 {
  text-align: center;
  padding-bottom: 10px;
}

#sign-in-page .btn-main {
  display: block;
  margin: 0 auto;
}

/* User Account */
.bs-docs-sidenav {
  top: 0;
  width: 218px;
  margin-top: 30px;
  margin-right: 0;
}

#display-account-settings > div, a {
  padding-top: 1em;
  padding-bottom: 1em;
}

.user-account {
  padding: 25px;
  padding-top: 50px;
  margin: auto;
}

.account-info {
  margin-top: 30px;
}

.glyphicon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.user-account h2 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-bottom: -10px;
  margin-left: 28px;
  margin-top: 55px;
}

/* Navbar */
@media screen and (min-width: 680px){
  .navbar {
    height: 70px;
  }

  .navbar ul {
    line-height: 70px;
  }

  .navbar a {
    line-height: 70px;
    margin-bottom: -15px;
  }

  .navbar-brand {
    line-height: 60px!important;
    float: none;
  }

  .navbar-nav li a {
    line-height: 40px;
  }

  .navbar-right {
    margin-right: 0;
  }
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
}

.navbar-default {
  border-color: #fff;
  letter-spacing: 0.8px;
}

.topnav {
  padding-left: 15px;
  padding-right: 15px;
}

/* Media Queries */
@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 5em;
  }

  .navbar-toggle {
    margin-top: 17px;
  }
}

/* Misc */
.col-md-4.h4 {
  padding: 20px;
}
